/* Grundlegende Seitenstile */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Hintergrundfarbe */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    text-align: center;
}

/* Stile für das Eingabefeld und den Hinzufügen-Button */
#todoInput {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#addTodoButton {
    width: 25%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addTodoButton:hover {
    background-color: #4cae4c;
}

/* Stile für die Todo-Liste */
#todoList {
    list-style: none;
    padding: 0;
}

#todoList li {
    background-color: #eee;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.deleteButton {
    font-size: 0.8rem;
    padding: 2px 5px;
    margin-left: 10px;
    color: #ff0000;
    cursor: pointer;
}

/* Anpassungen für die Checkmark-Box */
.checkmark-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%; /* Macht die Box rund */
    border: 2px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkmark {
    color: #5cb85c;
    display: none; /* Das Häkchen ist anfangs nicht sichtbar */
}

#todoList li.completed .checkmark {
    display: block; /* Zeigt das Häkchen an, wenn das Todo abgeschlossen ist */
}

.text.completed {
    font-style: italic; /* Macht den Text kursiv */
    color: #5cb85c;
}

.text {
    flex-grow: 1;
    cursor: pointer;
}

