/* Grundlegende Seitenstile */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Hintergrundfarbe */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    text-align: center;
}

/* Stile für das Eingabefeld und den Hinzufügen-Button */
#todoInput {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Damit die Breite inklusive Padding und Border ist */
}

#addTodoButton {
    width: 25%;
    padding: 10px;
    background-color: #5cb85c; /* Grüner Button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addTodoButton:hover {
    background-color: #4cae4c; /* Etwas dunkleres Grün beim Hover */
}

/* Stile für die Todo-Liste */
#todoList {
    list-style: none;
    padding: 0;
}

#todoList li {
    background-color: #eee;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
}
