/* Grundlegende Seitenstile */
@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}



body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin: 0;
}

#app {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;

}

.input-group {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

#todoInput,
#addTodoButton,
#clearAllTodosButton {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#todoInput {
    flex-grow: 1;
}

#addTodoButton,
#clearAllTodosButton {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

#addTodoButton:hover {
    background-color: #4cae4c;
}

#clearAllTodosButton {
    background-color: #d9534f;
    
}

#clearAllTodosButton:hover {
    background-color: #c9302c;
    
}


#todoList {
    font-family: 'Indie Flower', cursive;
    list-style: none;
    padding: 0;
    width: 100%;
}

#todoList li {
    background-color: #eee;
    margin-top: 8px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.deleteButton {
    font-size: 0.8rem;
    padding: 2px 5px;
    margin-left: 10px;
    color: #d9534f;
    cursor: pointer;
}

.checkmark-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkmark {
    color: #5cb85c;
    display: none;
}

#todoList li.completed .checkmark {
    display: block;
}

.text {
    flex-grow: 1;
    cursor: pointer;
}

li.completed .text {
    font-style: italic;
    text-decoration: line-through;
    color: #5cb85c;
}

#groupContainer {
    display: flex;
    margin-bottom: 20px;
}

.group {
    font-size: .9rem;
    padding: 10px;
    margin-right: 5px;
    background-color: #ddd;
    cursor: pointer;
    width: 100px; 
    height: 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.delete-group-button  {
    font-size: 0.7rem;
    padding: 4px;
    margin: 0;
    color: #fff; 
    cursor: pointer;
    position: absolute;
    top: 0px; 
    right: 0px;
    background-color: #d9534f;    
    border-radius: 25%;
    width: 15px; 
    height: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    position: absolute;
    
}

.delete-group-button:hover {
    background-color: #c9302c;
}


.group.active {
    background-color: #5cb85c;
    color: white;
}

#addGroupButton {
    padding: 10px;
}

/* Modal Stilleri */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  